// varialbes redifined (first they are defined in bootstrap)
$secondary: #f4f4f4;
$primary:#401f7c;
$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;

// $utilities: () !default;
// $utilities: map-merge(
//     (

//     ) , 
//     $utilities 
// );

@import 'style';
@import '../node_modules/bootstrap/scss/bootstrap.scss'
